# Environment variables (VERY IMPORTANT)
.env

# Python cache
__pycache__/
*.pyc

# Virtual environment
venv/
env/

# OS files
.DS_Store
Thumbs.db

# Only ignore secrets, NOT the whole .streamlit folder
.streamlit/secrets.toml

# Database (don't push local data)
travel.db

# Logs
*.log